<form class="filter form-inline hidden-xs" role="form">
  <div class="form-group">
    <input type="text" class="form-control filter" id="js-filter" name="filter" placeholder="Filter">
  </div>
  <div class="form-group">
    <select name="active" class="form-control" id="js-sort">
      <option value="">Any Status</option>
      <option value="1">Active</option>
      <option value="0">Draft</option>
    </select>
  </div>
</form>
<table class="table center-col">
	<thead>
		<tr>
			<th><%= Lang.post_title %></th>
			<th><%= Lang.post_status %></th>
			<th><%= Lang.post_published %></th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
